main {
    margin-left: 10%;
    }

footer {
    margin-left: 10%;

}    
 #sfondo {
    background :lightskyblue;
    background-image: url(pattern.png);
    background-size: contain;
    }

  #logo {
      width: 100px;
      height: 100px;
  }
  }
    th {
        background-color: rgb(37, 150, 190);
    }

    .Tab {
        background-color: aqua;
    }

    #first {
        background-image: url(monitor.jpg);
        background-size: cover;
        width: 150px;
        height: 150px;


    }

    #second {
        background-image: url(graph.jpg);
        background-size: contain;
        width: 150px;
        height: 150px;
    }